table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
   
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  h1{
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
  }
  h5{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

  div{
    text-align: center;
    margin-bottom: 10px;
  }
  label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
  }

  select{
      font-size:large;
  }

  button{
    padding: 10px;
    text-align: center;
    text-decoration: none;

    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    border-color: black;
  }